{% extends "_layouts/base.jinja" %}

{% from "tools/macros/navigation.jinja" import breadcrumbs %}
{% from "tools/macros/display.jinja" import inline_tool %}

{% block content %}
<div class="col-md-12">
    <h1>{{tool_class}}</h1>
    {{ breadcrumbs(tool_class) }}
</div>
{% for tool in tool_list %}
{{inline_tool(tool)}}
{% endfor %}
{% endblock %}
