{% macro transaction_list(transactions) %}
<ul class="list-group transaction-list">
    {% for transaction in transactions %}
        <li class="list-group-item transaction">{{transaction}}</li>
    {% endfor %}
</ul>
{% endmacro %}
