{% trans site_name=current_site.name, user_name=user.get_full_name()|default(user.username) %}User '{{ user_name }}' at {{ site_name }} has given this as an email address.

To confirm this is correct, go to {{ activate_url }}
{% endtrans %}
