{% extends "hubs/hub_base.jinja" %}

{% from "tools/macros/navigation.jinja" import breadcrumbs %}
{% from "macros/navigation.jinja" import pagination %}
{% from "tools/macros/display.jinja" import inline_tool %}

{% block breadcrumbs scoped -%}
    {{ breadcrumbs(tool_class) }}
{%- endblock %}

{% block hub_content %}
{% for tool in tool_list %}
    {{inline_tool(tool)}}
{% endfor %}

<div class="col-md-12">
    {{pagination(is_paginated, paginator, page_obj)}}
</div>
{% endblock %}
