{% extends "_layouts/base.jinja" %}
{% block content %}
<h1>{{ hub }}</h1>
<form action="." method="post">{% csrf_token %}
    {{ form|safe }}
    <input type="submit" value="Send reminder">
</form>
{% endblock %}
