{% extends "hubs/hub_base.jinja" %}

{% from "hubs/macros/users.jinja" import user_list %}
{% from "macros/navigation.jinja" import breadcrumb_list %}

{% block breadcrumbs %}
{{ breadcrumb_list([
        ( url('hubs:detail', hub.slug), 'hub' ),
        ( false, 'members' )
    ])
}}
{% endblock %}

{% block hub_content %}
{{ user_list(hub) }}
{% endblock %}
