{% macro breadcrumbs(hub=false, hub_user=false, tail=false) %}
<ol class="breadcrumb">
    <!-- TODO: change to "hub" and it goes back to the current hub detail -->
    <li><a href="{{ url('hubs:list') }}">hubs</a></li>
    {% if hub %}
        <li><a href="{{ url('hubs:detail', hub.slug) }}">{{hub}}</a></li>
    {% endif %}
    {% if hub and hub_user %}
        <li><a href="{{ url('hubs:user_detail', hub.slug, hub_user.user.username) }}">{{hub_user}}</a></li>
    {% endif %}
    {% if tail %}
    	<li>{{tail}}</li>
    {% endif %}
</ol>
{% endmacro %}
