{% extends '_layouts/base.jinja' %}

{% block content %}
<div class="container">
    {{ crispy(form) }}
    <p>Don't have an account? <a href='{{ url('register') }}' data-ajax="false">Register!</a></p>
</div>
{% endblock content %}
