{% extends '_layouts/base.jinja' %}

{% block content %}
<div class="col-md-6">
<form action="." method="post">
    <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}">
    {{ crispy(form) }}
</form>
</div>
<div class="col-md-6">
    <p>Don't have an account? <a href="{{ url('account:signup') }}" data-ajax="false">{{ _('Sign up!') }}</a></p>
    <p>Forgot your password? <a href="{{ url('account:password_reset') }}">{{ _("Reset your password!") }}</a></p>
</div>
{% endblock content %}
