{% extends '_layouts/base.jinja' %}

{% block page_title %}{{ _("Password reset sent") }}{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>{{ _("Password reset sent") }}</h1>
    {% if not resend %}
        <p>{% trans %}We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endtrans %}</p>
        <form method="POST" action="{{ url("account:password_reset") }}">
            {% csrf_token %}
            {% for field in form %}
                {{ field.as_hidden() }}
            {% endfor %}
            <button type="submit" name="resend" class="btn btn-primary">{{ _("Resend") }}</button>
        </form>
    {% else %}
        <p>{% trans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endtrans %}</p>
    {% endif %}
</div>
{% endblock %}
