{% extends '_layouts/base.jinja' %}

{% block page_title %}{{ _("Bad token") }}{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>{{ _("Bad token") }}</h1>
    <p>{% trans url = url("account_password_reset") %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ url }}">new password reset</a>.{% endtrans %}</p>
</div>
{% endblock %}
