{% extends '_layouts/base.jinja' %}

{% block page_title %}{{ _("Password reset") }}{% endblock %}

{% block content %}
<div class="col-md-12">
	{{crispy(form)}}
	<p>{% trans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ ACCOUNT_CONTACT_EMAIL }}">{{ ACCOUNT_CONTACT_EMAIL }}</a>.{% endtrans %}</p>
</div>
{% endblock %}
