{% extends "_layouts/base.jinja" %}

{% block page_title %}{{ super() }} - {{ _('Server Error') }}{% endblock %}

{% block header %}
    <h1 class="page-header">500 <small>{{ _('Server Error') }}</small></h1>
{% endblock %}

{% block content %}
<div class="col-md-12">
    <p>Sorry, but the server encountered an error while processing your request.</p>
</div>
{% endblock %}
