{# base template used to navigate around a user's account settings and tools #}
{% extends '_layouts/base.jinja' %}

{% macro account_nav(tab='settings') %}
<ul class="nav nav-tabs">
    <li{% if tab == 'settings' %} class="active"{% endif %}>
        <a href="{{ url('account:settings') }}">{{_('Account Settings')}}</a></li>
    <li{% if tab == 'manager' %} class="active"{% endif %}>
        <a href="{{ url('account:tool:manager') }}">{{_('Manage Tools')}}</a></li>
    <li{% if tab == 'lending' %} class="active"{% endif %}>
        <a href="{{ url('account:tool:lending') }}">{{_('Lending')}}</a></li>
</ul>
{% endmacro %}

{% block page_title %}Account{% endblock %}

{% block content %}
<div class="col-md-12">
{% block account_nav %}{{account_nav()}}{% endblock %}
</div>
{% endblock %}
